doctype html
html
  head
    meta(charset="utf-8")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(src='/jquery.masonry.min.js')
    script(src='/grid.js')
    link(rel='stylesheet', href='/grid.css')
    title #{title}
  body.h-feed
    div.header
      a.imglink(href="/")
        img.logo(src="/images/pestagram2.png") 
      form(method="post",action="/")
        label enter a tag
        input(type="text",id="tag",name="tag")
      h2.p-name #{title}
    div#grid
        each image in images
          -if (image.type == 'image')
              div.item.h-entry
                div.e-content
                    div.holder
                      a.imglink.u-photo(href="#{image.link}")
                        img(src="#{image.images.low_resolution.url}", width="192", height="192")
                    - if (image.caption) 
                        p.description #{image.caption.text}
                    p.stats #{image.likes.count} likes  #{image.comments.count} comments
                    - if (image.location)
                        | at 
                        a(href="/loc/#{image.location.id}") #{image.location.name}
                    div.convo.attribution.p-author.h-card
                      a.imglink(href="/user/#{image.user.id}")
                        img.u-photo(src="#{image.user.profile_picture}", width="30", height="30")
                      p
                        a.p-name.u-url(href="/user/#{image.user.id}") #{image.user.full_name} 
                    -if (image.tags[0]) 
                      | onto 
                      each tag in image.tags
                        a.p-category(href="/tag/#{tag}", rel="tag")#{tag} 
                div.convo.comments
                  each comment in image.comments.data
                    div.comment.p-comment.h-cite
                        span.p-author.h-card
                          a.imglink(href="/user/#{comment.from.id}")
                            img.u-photo(src="#{comment.from.profile_picture}", width="30", height="30") 
                          a.p-name.u-url(href="/user/#{comment.from.id}") #{comment.from.full_name} 
                        p.p-name #{comment.text}
                  
    div.footer
